<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Agenda de Contatos</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="nome" label="Nome" placeholder="Insira o nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="telefone" type="number" label="Telefone" placeholder="Insira o telefone"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="email" label="email" placeholder="Insira o email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-select>
      <ion-input [(ngModel)]="genero" label="Genero" placeholder="Selecione"></ion-input>
      <ion-select-option value="0">Não Declarado</ion-select-option>
      <ion-select-option value="1">Feminino</ion-select-option>
      <ion-select-option value="2">Masculino</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-button (click)="cadastrar()" expand="full">Cadastrar</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
