<ion-header>
  <ion-toolbar>
    <ion-title>Agenda de Contatos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-toggle (ionChange)="habilitar()">Habilitar Edição</ion-toggle>
  </ion-item>
  <ion-list>
    <ion-item>
      <ion-input [(ngModel)]="nome" label="Nome" placeholder="Insira o nome" disabled="{{!edicao}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="telefone" type="number" label="Telefone" placeholder="Insira o telefone" disabled="{{!edicao}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="email" label="Email" placeholder="Insira o email" disabled="{{!edicao}}"></ion-input>
    </ion-item>
    <ion-select [(ngModel)]="genero" label="Genero" placeholder="Selecione" disabled="{{!edicao}}">
      <ion-select-option value="0">Não declarado</ion-select-option>
      <ion-select-option value="1">Feminino</ion-select-option>
      <ion-select-option value="2">Masculino</ion-select-option>
    </ion-select>
    <ion-item>
      <ion-button (click)="salvar()" expand="full">Editar</ion-button>
      <ion-button (click)="excluir()" color="danger" expand="full">Excluir</ion-button>
    </ion-item>
    </ion-list>
</ion-content>
