<ion-header>
  <ion-toolbar>
    <ion-title>
      AGENDA DE CONTATOS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-header>
      Meus Contatos
    </ion-header>
    <ion-item *ngFor="let contato of contatos; let i = index">
      <ion-label (click)="editar(i)">{{contato.nome}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="irParaCadastrar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

